@import '../backend/variables';
@import './frontend.scss';

.white-btn {
    background-color: white;
    font-size: 1.05rem;
    color: $deliveroo-dark;
    border: 1px solid $deliveroo-light;
    border-radius: 4px;
    padding: 6px 16px;
}

.blue-btn {
    background-color: $deliveroo-blue;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    height: 50px;
}

.grey-btn {
    background-color: lightgray;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    height: 50px;
}

.search-btn {
    background-color: $deliveroo-blue;
    color: white;
    border-radius: 50px;
    border: none;
    padding: .9rem 2.2rem;
    font-weight: bold;

    &:hover {
        background-color: $deliveroo-blue-hover;
    }

    &:focus {
        box-shadow: 0 0 0 3px rgba(0, 194, 179, .5);
    }
}