@import '../backend/variables';
@import './frontend.scss';

.white-btn {
    background-color: white;
    font-size: 1.05rem;
    color: $deliveroo-dark;
    border: 1px solid $deliveroo-light;
    border-radius: 4px;
    padding: 6px 16px;
}

.search-btn {
    background-color: $deliveroo-blue;
    color: white;
    border-radius: 50px;
    border: 4px solid white;
    padding: .8rem 2.3rem;
    font-weight: bold;
}