// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Deliveroo
$deliveroo-blue: #00CCBC;
$deliveroo-blue-hover: #00c2b3;
$deliveroo-grey: #F9FAFA;
$deliveroo-dark: #2E3333;
$deliveroo-light: #e8ebeb;
$deliveroo-footer-col: #434848;
$deliveroo-copyright: #585c5c;
$facebook: #1877f2;
$twitter: #55acee;
$instagram: #f00075;