@import './buttons.css';

body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

a img {
    width: 110px;
}

a i {
    font-size: .9rem;
    padding: 0 6px 0 4px;
    color: #00CCBC;
    vertical-align: middle;
}
