@import './buttons.css';
@import './dishes.css';

/* MAIN STYLE */
main, nav, .form-control, input::placeholder {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

main {
    padding: 3rem 0;
}

/* DELIVEROO LOGO */
a img {
    width: 110px;
}

/* NAV BUTTONS ICONS */
a i {
    font-size: .9rem;
    padding: 0 6px 0 4px;
    color: #00CCBC;
    vertical-align: middle;
}

/* LOGIN FORM */
h4.admin-form {
    padding-bottom: .7rem;
}

label {
    padding: .5rem 0; 
}

.form-control {
    height: 50px;
}

.forgotten-pw {
    color: #00CCBC;
    font-size: .8rem;
    text-decoration: none;
    margin: 0;
    padding: .5rem 0;
}

.forgotten-pw:hover {
    color: #00c2b3;
}

.btn.register-btn, .btn.login-btn {
    width: 100%;
    height: 50px;
    background-color: #00CCBC;
    color: white;
}

.btn.register-btn:hover, .btn.login-btn:hover {
    background-color: #00c2b3 !important;
    color: white !important;
}

/* REGISTER */
.form-control.register, .form-control.edit, .form-control.dish, .form-control.create-dish {
    box-shadow: 0 0 4px lightgrey inset;
    border-color: lightgray;
}

.form-control.register:focus, .form-control.edit:focus, .form-control.dish:focus, .form-control.create-dish:focus {
    border-color: lightgray;
    box-shadow: 0 0 0 0.25rem rgb(0 204 188 / 25%);
}

small>a {
    text-decoration: none;
    color: #00ccbc;
}

small>a:hover {
    color: #00c2b3;
}

/* CONTROL PANEL */
.side-bar {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 3rem 2rem;
}

.side-link li {
    padding-bottom: 1rem;
}

.side-link li a {
    color: #2E3333;
}

.side-link li a:hover {
    color: #00c2b3;
}

/* RESTAURANT INDEX */
.left-side img {
    height: 200px;
    opacity: 75%;
    aspect-ratio: 1/1;
    margin: 0 4rem 0 4rem;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
    border: 1px solid lightgray;
}

.right-side h2 {
    font-weight: bold;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
    vertical-align: middle;
    background-color: #00CCBC;
    height: 20px;
}

.right-side .categories {
    color: #00c2b3;
    font-size: .9rem;
    padding-top: .8rem;
}

.right-side a i:hover {
    color: #00c2b3;
}

/* EDIT */
h3 b {
    color: #00CCBC;
}

button i {
    color: #00CCBC;
    margin-right: 10px;
}

.edit-btn {
    height: 50px;
    width: 100%;
    margin: 1rem 0 2rem 0;
}