/* $deliveroo-blue: #00CCBC;
$deliveroo-blue-hover: #00c2b3;
$deliveroo-grey: #F9FAFA;
$deliveroo-dark: #2E3333;
$deliveroo-light: #e8ebeb;
$deliveroo-footer-col: #434848;
$deliveroo-copyright: #585c5c;
$facebook: #1877f2;
$twitter: #55acee;
$instagram: #f00075; */

.white-btn {
    background-color: white;
    font-size: .95rem;
    color: #2E3333;
    border: 1px solid #e8ebeb;
    border-radius: 4px;
    padding: 7px 16px;
    margin-left: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.white-btn:hover {
    border: 1px solid #d1d4d4;
    color: #2E3333;
}

.blue-btn {
    background-color: #00CCBC;
    font-size: 1rem;
    color: white;
    border-radius: 4px;
    padding: 7px 16px;
    margin-left: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 400px;
    justify-content: center;
}

.blue-btn:hover {
    color: white;
    background-color: #00c2b3;
}